@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add custom focus styles for form elements only */
input:focus,
select:focus,
textarea:focus {
    @apply ring-0 !important;
    @apply bg-amber-100 !important;
    @apply border-orange-800 !important;
}



[x-cloak] {
    display: none;
}
